VITE_SUPABASE_URL=https://wuqimrkmntnslhnhihhw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind1cWltcmttbnRuc2xobmhpaGh3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5NzI0NTksImV4cCI6MjEwMDU0ODQ1OX0.NkOkDnrRdAhRosQVJQoUSxf9J_q82-uoUuXAo0rKAWk
